html {
    font-family: 'Open Sans', sans-serif;
  
}

body {
    display: flex;
    flex-direction: column;
    color: #3A3A3A;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #3A3A3A;
}
.button2{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 40px;
    gap: 10px;
    background: #FFFFFF;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23EB6C27FF' stroke-width='3' stroke-dasharray='20%2c20' stroke-dashoffset='73' stroke-linecap='square'/%3e%3c/svg%3e");
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #EB6C27;
    
}


.button-filled{
    color: white;
    background-color: #EB6C27;
    border: none;
    text-decoration: none;
    padding: 0.8em 2em 0.8em 2em;
    display: block;
    width: fit-content;
    z-index: 999;
    position: relative;
}
