.page-nav{
    background-color: var(--black);
    box-shadow: 1px 1px 5px 0px var(--gray);
    
    top: 0;
    width: 100%;
}
/* Logo */
.logo{
    display: inline-block;
    color: var(--white);
    font-size: 60px;
    margin-left: 10px;
}

.nav{
    

    
    z-index: 9;
    width: 90%;
    left: 50%;
    transform: translate(-50%);
    height: auto;
    position: fixed;
    background-color: orange;
    overflow: hidden;

}
.seznam a{
    display: block;
    padding: 20px;
    color: white;
}
.seznam a:hover{
    background-color: orange;
}
.nav{
    max-height: 0;
    transition: max-height .5s ease-out;
}

.hamb{
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}/* Style label tag */

.hamb-line {
    background: black;
    display: block;
    height: 2px;
    position: relative;
    width: 24px;

} /* Style span tag */

.hamb-line::before,
.hamb-line::after{
    background: black;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.hamb-line::before{
    top: 5px;
}
.hamb-line::after{
    top: -5px;
}

.side-menu {
    display: none;
}

.side-menu:checked ~ nav{
    max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
    
}
.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
    
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
    
}

.header-main{
    background-image: linear-gradient(0deg, rgba(36, 36, 36, 0.4), rgba(36, 36, 36, 0.4)), url(../media/media/pageheader-1920w.jpg);
    height: 230px;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    position:relative;
}
.header-name{
    font-weight: 800;
    font-size: 30px;
    color: white;
    position:absolute;
    bottom:45px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
}
.header-description{
    font-weight: 200;
    font-size: 20px;
    line-height: 27px;
    color: white;
    position:absolute;
    bottom:20px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    
}

.mobile-off{
    display: none;
}


